{% extends "pages/base.html" %}

{% from 'blocks/templates.html' import templates %}

{% block title %}
    {{ super() }} - Explorer
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/explorer.css') }}">
{% endblock %}

{% block templates %}
    {{ templates() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="explorer-wrapper">
            <div class="corpora-wrapper">
                <ul class="corpus-list">
                    {% for corpus in corpora %}
                        <ui class="corpus-item" data-id="{{ corpus.id }}">
                            <a href="/explorer/corpus?id={{ corpus.id }}">{{ corpus.name }}</a>
                        </ui>
                    {% endfor %}
                </ul>
            </div>
            <div class="documents-wrapper">
                <div class="document-list">
                </div>
            </div>
            <div class="annotations-wrapper">
                <div class="create-annotation-wrapper"></div>
                <div class="update-annotation-wrapper"></div>
            </div>
        </div>
        <div>
            {% for message in messages %}
                {% if message.type == 0 %}
                    <div><p>{{ message.text }}</p></div>
                {% else %}
                    <div><p>{{ message.text }}</p></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/markit/markit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/explorer.js') }}"></script>
    <!--suppress JSDuplicatedDeclaration, JSUnresolvedVariable, JSAnnotator, JSUnusedAssignment -->
    <script>
        {% if selected_corpus is not none %}
            {% if selected_corpus.documents | length > 0 %}
                const corpus = {{ selected_corpus.serialize() | safe }};

                function renderDocument(documentList, index) {
                    let d = corpus.documents[index];
                    let li = document.createElement('div');
                    li.setAttribute('class', 'markit');
                    li.setAttribute('data-index', index);
                    const ranges = [];
                    let start = null;
                    if (corpus.active !== null && corpus.active === d) {
                        if (corpus.active.selected !== null) {
                            let a = corpus.active.selected;
                            ranges.push([[0, 0], a[0], a[1]]);
                            start = utils.min(start, a[0])
                        }
                    }
                    for (let i = 0; i < d.annotations.length; i++) {
                        let a = d.annotations[i];
                        ranges.push([[1, i], a.start, a.length]);
                        start = utils.min(start, a.start)
                    }
                    d.sections = utils.flatten(ranges);
                    if (typeof start !== 'undefined' && start !== null) {
                        let prefix = d.text.slice(0, start), suffix = d.text.slice(start);
                        for (let i = 0; i < d.sections.length; i++) {
                            let len = d.sections[i][0];
                            if (d.sections[i][1].length > 0) {
                                let mark = $('<mark onmousedown="select(' + index + ', ' + i + ')" style="cursor:pointer;"></mark>');
                                mark.html(suffix.slice(0, len));
                                prefix += mark.wrap('<div></div>').parent().html();
                                suffix = suffix.slice(len);
                            } else {
                                prefix += suffix.slice(0, len);
                                suffix = suffix.slice(len);
                            }
                        }
                        $(li).html(prefix + suffix);
                    } else {
                        $(li).html(d.text);
                    }
                    markit.load(li);
                    documentList.append(li);
                }

                function renderDocumentList() {
                    let documentList = $('.document-list');
                    documentList.html('');
                    for (let i = 0; i < corpus.documents.length; i++) {
                        renderDocument(documentList, i);
                    }
                    let createDocumentForm = $($('#create-document-template').html());
                    createDocumentForm.attr('action', '/explorer/corpus/add?id={{ selected_corpus.id }}');
                    documentList.append(createDocumentForm);
                }

                function renderFeature(template, key = '', value = '') {
                    let temp = $($("#feature-item-template").html());
                    temp.find('[name=feature_key]').attr('value', key);
                    temp.find('[name=feature_value]').attr('value', value);
                    temp.find('button[data-action=remove]').click(() => {
                        temp.remove();
                    });
                    template.find('.features').append(temp);
                }

                function renderCreateAnnotation() {
                    let wrapper = $('.create-annotation-wrapper');
                    if (corpus.active !== null) {
                        if (corpus.active.selected !== null) {
                            let template = $($('#create-annotation-template').html());
                            template.attr('action', '/explorer/annotation/create');
                            template.find('input[name=id]').attr('value', corpus.active.id);
                            template.find('input[name=span_start]').attr('value', corpus.active.selected[0]);
                            template.find('input[name=span_length]').attr('value', corpus.active.selected[1]);
                            template.find('button[data-action=create]').click(() => renderFeature(template));
                            wrapper.html(template);
                        } else {
                            wrapper.html('');
                        }
                    } else {
                        wrapper.html('');
                    }
                }

                function renderUpdateAnnotation() {
                    let wrapper = $('.update-annotation-wrapper');
                    wrapper.html('');
                    corpus.selectedAnnotations.forEach(i => {
                        console.log(i);
                        console.log(corpus.documents[i[0]].annotations[i[1]]);
                        let ano = corpus.documents[i[0]].annotations[i[1]];
                        let template = $($('#update-annotation-template').html());
                        template.find('[name=id]').attr('value', ano.document_id);
                        template.find('[name=span_start]').attr('value', ano.start);
                        template.find('[name=span_length]').attr('value', ano.length);
                        Object.keys(ano.features).forEach(function (key) {
                            renderFeature(template, key, ano.features[key])
                        });
                        template.find('button[data-action=create]').click(() => renderFeature(template));
                        template.find('button[data-action=update]').attr('formaction', `/explorer/annotation/update?id=${ano.id}`);
                        template.find('button[data-action=delete]').attr('formaction', `/explorer/annotation/delete?id=${ano.id}`);
                        wrapper.append(template);
                    });
                }

                function update() {
                    renderDocumentList();
                    renderCreateAnnotation();
                    renderUpdateAnnotation();
                }

                function select(index, section) {
                    let d = corpus.documents[index];
                    let s = d.sections[section][1];
                    let selected = [];
                    for (let i = 0; i < s.length; i++) {
                        let idx = s[i];
                        if (idx[0] === 1) {
                            selected.push([index, idx[1]]);
                        }
                    }
                    corpus.selectedAnnotations = selected;
                    console.log(corpus.selectedAnnotations)
                }

                markit.onselectionchange = (e) => {
                    let index = $(e.element).attr('data-index');
                    corpus.documents[index].selected = e.span;
                    update();
                };

                markit.onmousedown = (e) => {
                    let index = $(e.element).attr('data-index');
                    corpus.active = corpus.documents[index];
                };

                function initialize() {
                    corpus.active = null;
                    corpus.selectedAnnotations = [];
                    for (let i = 0; i < corpus.documents.length; i++) {
                        let d = corpus.documents[i];
                        if (typeof d.selected !== 'undefined') {
                            d.selected = null;
                        }
                        if (typeof d.sections !== 'undefined') {
                            d.sections = [];
                        }
                    }
                    update();
                }

                initialize();
            {% else %}
                let documentList = $('.document-list');
                let msg = $('<li>This corpus doesn\'t dontain any documents!</li>');
                documentList.append(msg);
                let createDocumentForm = $($('#create-document-template').html());
                createDocumentForm.attr('action', '/explorer/corpus/add?id={{ selected_corpus.id }}');
                documentList.append(createDocumentForm);
            {% endif %}
        {% else %}
            let documentList = $('.document-list');
            let msg = $('<li>Select a corpus to continue using the side plane.</li>');
            documentList.append(msg);
        {% endif %}
    </script>
{% endblock %}
