{% extends "pages/base.html" %}

{% block title %}
    {{ super() }} - Explorer
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explorer.css') | safe }}">
{% endblock %}

{% block templates %}
    <template id="feature-item-template">
        <li>
            <div class="form-row">
                <div class="col">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input id="update-annotation-feature-name" class="form-control" name="feature_key"/>
                </div>
                <div class="col">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input id="update-annotation-feature-value" class="form-control" name="feature_value"/>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="button" data-action="remove">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </li>
    </template>

    <template id="create-annotation-template">
        <form method="POST">
            <div class="form-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="id" class="form-control" placeholder="Document" readonly/>
            </div>
            <div class="form-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="span_start" class="form-control" placeholder="Start"/>
            </div>
            <div class="form-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="span_length" class="form-control" placeholder="Length"/>
            </div>
            <ul class="features list-unstyled"></ul>
            <button class="btn btn-primary" type="button" data-action="create"><i class="fas fa-plus"></i></button>
            <button class="btn btn-primary" type="submit"><i class="fas fa-check"></i></button>
        </form>
    </template>

    <template id="update-annotation-template">
        <form method="POST">
            <div class="form-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="id" class="form-control" placeholder="Document" readonly/>
            </div>
            <div class="form-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="span_start" class="form-control" placeholder="Start"/>
            </div>
            <div class="form-group">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input name="span_length" class="form-control" placeholder="Length"/>
            </div>
            <ul class="features list-unstyled"></ul>
            <button class="btn btn-primary" type="button" data-action="create"><i class="fas fa-plus"></i></button>
            <button class="btn btn-primary" type="submit" data-action="update"><i class="fas fa-sync"></i></button>
            <button class="btn btn-primary" type="submit" data-action="delete"><i class="fas fa-trash"></i></button>
        </form>
    </template>

    <template id="document-template">
        <div class="document list-group-item">
            <div class="row">
                <div class="col-auto">
                    <div data-name="id"></div>
                </div>
                <div class="col">
                    <div data-name="text"></div>
                </div>
            </div>
        </div>
    </template>
{% endblock %}

{% block content %}
    <div class="explorer-wrapper">
        <div class="corpora-wrapper">
            <div class="list-group list-group-flush">
                {% for corpus in corpora %}
                    <a class="list-group-item list-group-item-action {{ 'active' if selected_corpus is not none and corpus.id == selected_corpus.id }}"
                       href="/explorer/corpus?id={{ corpus.id }}">{{ corpus.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="documents-wrapper">
            <div class="pu-56">
                <div class="document-list list-group">{# Here goes the document list. Initialized by JS. #}</div>
            </div>
            {% if page is defined and pagination is defined %}
                <nav class="document-nav" aria-label="Page Navigation Panel">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {{ 'disabled' if page.index == 1 }}">
                            <a class="page-link"
                               href="/explorer/corpus?id={{ selected_corpus.id }}&page={{ page.index - 1 }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% for i in range([page.index - 4, 1] | max, [page.index + 4, pagination.nb_pages + 1] | min) %}
                            {% if i == page.index %}
                                <li class="page-item active">
                                    <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="/explorer/corpus?id={{ selected_corpus.id }}&page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item {{ 'disabled' if page.index == pagination.nb_pages }}">
                            <a class="page-link"
                               href="/explorer/corpus?id={{ selected_corpus.id }}&page={{ page.index + 1 }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="annotations-wrapper">
            <div class="selected-document-wrapper"></div>
            <div class="create-annotation-wrapper"></div>
            <div class="update-annotation-wrapper"></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/markit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/explorer.js') }}"></script>
    <!--suppress JSDuplicatedDeclaration, JSUnresolvedVariable, JSAnnotator, JSUnusedAssignment -->
    <script>
        {% if selected_corpus is not none %}
            {% if selected_corpus.documents | length > 0 %}
                const corpus = {{ selected_corpus | safe }};

                function getRandomColor() {
                    let letters = '0123456789ABCDEF';
                    let color = '#';
                    for (let i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                }

                function renderDocument(documentList, index) {
                    let d = corpus.documents[index];
                    let template = $($('#document-template').html());
                    if (corpus.active !== null && corpus.active.id === d.id) {
                        // Process active document
                        template.addClass('active')
                    }
                    let document_text = template.find('div[data-name=text]');
                    document_text.attr('class', 'markit');
                    document_text.attr('data-index', index);
                    template.find('div[data-name=id]').html(d.id);
                    const ranges = [];
                    let start = null;
                    if (corpus.active !== null && corpus.active === d) {
                        if (corpus.active.selected !== null) {
                            let a = corpus.active.selected;
                            ranges.push([[0, 0], a[0], a[1]]);
                            start = utils.min(start, a[0])
                        }
                    }
                    for (let i = 0; i < d.annotations.length; i++) {
                        let a = d.annotations[i];
                        ranges.push([[1, i], a.start, a.length]);
                        start = utils.min(start, a.start)
                    }
                    d.sections = utils.flatten(ranges);
                    if (typeof start !== 'undefined' && start !== null) {
                        let prefix = d.text.slice(0, start), suffix = d.text.slice(start);
                        for (let i = 0; i < d.sections.length; i++) {
                            let len = d.sections[i][0];
                            let colors = ['green', 'orange', 'purple', 'blue'];
                            if (d.sections[i][1].length > 0) {
                                let mark = $('<mark onmousedown="select(' + index + ', ' + i + ')" style="cursor:pointer; background-color: white; padding: 0"></mark>');
                                mark.html(suffix.slice(0, len));
                                let nb_mark = d.sections[i][1].length;
                                if (nb_mark > colors.length - 1) nb_mark = colors.length - 1;
                                for (let j = 0; j < nb_mark; j++) {
                                    mark = mark.wrap('<mark style="padding: 0 0 ' + (j + 1) * 4 + 'px; background-color: ' + colors[j] + ';' + '"' + '></mark>').parent()
                                }
                                prefix += mark.wrap('<div></div>').parent().html();
                                suffix = suffix.slice(len);
                            } else {
                                prefix += suffix.slice(0, len);
                                suffix = suffix.slice(len);
                            }
                        }
                        document_text.html(prefix + suffix);
                    } else {
                        document_text.html(d.text);
                    }
                    markit.load(document_text[0]);
                    documentList.append(template);
                }

                function renderDocumentList() {
                    let documentList = $('.document-list');
                    documentList.html('');
                    for (let i = 0; i < corpus.documents.length; i++) {
                        renderDocument(documentList, i);
                    }
                }

                function renderFeature(template, key = '', value = '') {
                    let temp = $($("#feature-item-template").html());
                    temp.find('[name=feature_key]').attr('value', key);
                    temp.find('[name=feature_value]').attr('value', value);
                    temp.find('button[data-action=remove]').click(() => {
                        temp.remove();
                    });
                    template.find('.features').append(temp);
                }

                function renderCreateAnnotation() {
                    let wrapper = $('.create-annotation-wrapper');
                    if (corpus.active !== null) {
                        if (corpus.active.selected !== null) {
                            let template = $($('#create-annotation-template').html());
                            template.attr('action', '/explorer/annotation/create');
                            template.find('input[name=id]').attr('value', corpus.active.id);
                            template.find('input[name=span_start]').attr('value', corpus.active.selected[0]);
                            template.find('input[name=span_length]').attr('value', corpus.active.selected[1]);
                            template.find('button[data-action=create]').click(() => renderFeature(template));
                            wrapper.html(template);
                        } else {
                            wrapper.html('');
                        }
                    } else {
                        wrapper.html('');
                    }
                }

                function renderUpdateAnnotation() {
                    let wrapper = $('.update-annotation-wrapper');
                    wrapper.html('');
                    corpus.selectedAnnotations.forEach(i => {
                        console.log(i);
                        console.log(corpus.documents[i[0]].annotations[i[1]]);
                        let ano = corpus.documents[i[0]].annotations[i[1]];
                        let template = $($('#update-annotation-template').html());
                        template.find('[name=id]').attr('value', ano.document_id);
                        template.find('[name=span_start]').attr('value', ano.start);
                        template.find('[name=span_length]').attr('value', ano.length);
                        Object.keys(ano.features).forEach(function (key) {
                            renderFeature(template, key, ano.features[key])
                        });
                        template.find('button[data-action=create]').click(() => renderFeature(template));
                        template.find('button[data-action=update]').attr('formaction', `/explorer/annotation/update?id=${ano.id}`);
                        template.find('button[data-action=delete]').attr('formaction', `/explorer/annotation/delete?id=${ano.id}`);
                        wrapper.append(template);
                    });
                }

                function update() {
                    renderDocumentList();
                    renderCreateAnnotation();
                    renderUpdateAnnotation();
                }

                function select(index, section) {
                    let d = corpus.documents[index];
                    let s = d.sections[section][1];
                    let selected = [];
                    for (let i = 0; i < s.length; i++) {
                        let idx = s[i];
                        if (idx[0] === 1) {
                            selected.push([index, idx[1]]);
                        }
                    }
                    corpus.selectedAnnotations = selected;
                    console.log(corpus.selectedAnnotations)
                }

                markit.onselectionchange = (e) => {
                    let index = $(e.element).attr('data-index');
                    corpus.documents[index].selected = e.span;
                    update();
                };

                markit.onmousedown = (e) => {
                    let index = $(e.element).attr('data-index');
                    corpus.active = corpus.documents[index];
                };

                function initialize() {
                    corpus.active = null;
                    corpus.selectedAnnotations = [];
                    for (let i = 0; i < corpus.documents.length; i++) {
                        let d = corpus.documents[i];
                        if (typeof d.selected !== 'undefined') {
                            d.selected = null;
                        }
                        if (typeof d.sections !== 'undefined') {
                            d.sections = [];
                        }
                    }
                    update();
                }

                initialize();
            {% else %}
                let documentList = $('.document-list');
                let msg = $('<li>This corpus doesn\'t dontain any documents!</li>');
                documentList.append(msg);
            {% endif %}
        {% else %}
            let documentList = $('.document-list');
            let msg = $('<li>Select a corpus to continue using the side plane.</li>');
            documentList.append(msg);
        {% endif %}
    </script>
{% endblock %}
