/* -- Basic -- */

html, body {
    height: 100%;
}

/* -- Navigation Bar -- */

.navbar {
    min-height: 56px;
}

/* -- Notifications -- */

.notifications {
    display: flex;
    flex-flow: column;
    position: absolute;
    max-width: 450px;
    min-width: 250px;
    width: 100%;
    top: 56px;
    right: 0;
    padding: 15px;
    pointer-events: none;
}

.alert .close {
    pointer-events: auto;
}

.notifications:hover {
    opacity: 0.5;
}

@media screen and (max-width: 250px) {
    .notifications {
        min-width: 0;
    }
}

/* -- Profile -- */

.dropdown-toggle {
    font-size: 25px;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu-top {
    top: 56px;
    min-width: 250px;
}

.profile {
    padding: 4px 24px;
}


.profile > .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* -- Custom Colors -- */

:root {
    --primary-color: #62C370;
    --secondary-color: #a9dd74;
}

/* -- EOF -- */