{% macro navbar(config, username) %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if 'brand' in config %}
            {% set brand = config.brand %}
            {% if brand %}
                <a id='{{ brand.id }}' class="navbar-brand" href="{{ brand.href }}">{{ brand.name }}</a>
            {% endif %}
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for href, id, name in config.links %}
                    {% set active_page = active_page | default('home') %}
                    {% if active_page == id %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ href }}"> {{ name }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ href }}"> {{ name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="dropdown ml-auto">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fas fa-user-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-top" aria-labelledby="dropdownMenuButton">
                    <div class="profile">
                        {% if username is defined and username is not none %}
                            <img class="avatar" src="{{ url_for('static', filename='img/avatar/male.svg') }}"
                                 alt="Avatar">
                            {{ 'Logged in as ' +  username }}
                        {% else %}
                            <img class="avatar" src="{{ url_for('static', filename='img/avatar/anonymous.svg') }}"
                                 alt="Avatar">
                            {{ 'Anonymous' }}
                        {% endif %}
                    </div>
                    <div class="dropdown-divider"></div>
                    {% if username is defined and username is not none %}
                        <a class="dropdown-item" href='/logout'>Log out</a>
                    {% else %}
                        <a class="dropdown-item" href='/login'>Log in</a>
                        <a class="dropdown-item" href="/signup">New around here? Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endmacro %}
