.explorer-wrapper {
    display: flex;
    margin: 0 -15px;
}

.corpora-wrapper {
    max-width: 200px;
    min-width: 200px;
    width: 100%;
    padding: 15px 0 15px 15px;
}

.corpus-list {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

.corpus-item {
    padding: 5px;
}

.corpus-item.active {

}

.documents-wrapper {
    padding: 15px;
    width: 100%;
}

.document-list {
    padding-left: 0;
    margin: -5px;
}

.document {
    display: flex;
    flex-flow: column;
    padding: 5px;
    align-items: center;
}

.features-wrapper {
    display: flex;
    flex-flow: column;
    min-width: 250px;
}

@media screen and (min-width: 481px) {
    .documents-wrapper {
        min-width: 350px;
    }
}

:root {
    --markit-bg-color: transparent;
    --markit-selection-color: lightcoral;
}

.markit {
    padding: 15px 15px;
    background: var(--markit-bg-color);
}

.markit::selection {
    /*background: transparent !important;*/
}

.markit mark.selection {
    background: var(--markit-selection-color);
}