.markit {
    display: inline-block;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll !important;
    -webkit-text-size-adjust: none !important;
    width: 100%;
    height: 100%;
    padding-right: 25px;
    word-wrap: break-word;
}

.markit::selection {
    background: transparent;
}

.markit mark::selection {
    background: transparent;
}

.markit mark.highlight {
    background: lightyellow !important;
}

.markit mark.annotation {
    background: lightgray;
}