:root {
    --sidebar-bg: var(--light);
    --sidebar-header-bg: #90BF60;
    --sidebar-header-color: #2F3E20;
    --sidebar-item-bg: #2F3E20;
    --sidebar-item-color: #F0F6E9;
    --sidebar-hover-bg: #3e281a;
    --sidebar-hover-color: #F0F6E9;
    --sidebar-active-item-bg: #3e223e;
    --sidebar-active-item-color: #F0F6E9;
    --sidebar-button-bg: var(--light);
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    width: 100%;
}

#sidebar {
    position: absolute;
    display: flex;
    flex-flow: row;
    min-width: 250px;
    max-width: 250px;
    background: var(--sidebar-bg);
    top: 56px;
    bottom: 0;
    z-index: -9999;
}

#sidebar > .sidebar-content {
    min-width: 250px;
    max-width: 240px;
}

#sidebar > .sidebar-btn {
    min-width: 10px;
    max-width: 10px;
    overflow: hidden;
}

#sidebarToggleBtn {
    min-height: 100vh;
    padding: 0;
    background: var(--sidebar-button-bg);
    border-radius: 0;
}


#content {
    padding-left: 250px;
    margin-left: 10px;
}

#sidebar.active {
    margin-left: -250px;
}


#content.active {
    padding-left: 0;
}


.sidebar-icon {
    display: none;
}


.sidebar-icon.active {
    display: inline-block;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #content {
        padding-left: 0;
    }

    #content.active {
        padding-left: 250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .sidebar-icon {
        display: inline-block;
    }

    .sidebar-icon.active {
        display: none;
    }

}

.sidebar-header {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sidebar-header-bg);
    color: var(--sidebar-header-color);
}

.sidebar-item-list {
    width: 100%;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--sidebar-item-bg);
    color: var(--sidebar-item-color);
}

.sidebar-item:hover {
    background-color: var(--sidebar-hover-bg);
    color: var(--sidebar-hover-color);
}


.sidebar-item.active {
    background-color: var(--sidebar-active-item-bg);
    color: var(--sidebar-active-item-color);
}
